<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fantasy Golf Competition</title>
	<%- include('./style'); %>
</head>
<body>
<h1>Fantasy Golf Competition Results </h1>
<h1>Masters 2024</h1>
<div>
<table border="1">
	<thead>
	  <tr>
		<th>Place</th>
		<th>Name</th>
		<th>Player 1</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>1</td>
		<td>Row 1, Cell 2</td>
		<td>Row 1, Cell 3</td>
	  </tr>
	  <tr>
		<td>2</td>
		<td>Row 2, Cell 2</td>
		<td>Row 2, Cell 3</td>
	  </tr>
	  <!-- Add more rows as needed -->
	</tbody>
  </table>
</div>
</body>

</html>