<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fantasy Golf Competition</title>
	<link rel="icon" href="/static/golf.png" type="image/png">
	<%- include('./style'); %>
</head>

<body>
	<div class="tab">
        <a href="/overall" class="tablinks">OVERALL LEADERBOARD</a>
		<a href="/rules" class="tablinks">SCORING</a>
    </div>
	<div class="top-right-text">
		<p>Last updated: <%= date %>
		</p>
	</div>
	<h1>Fantasy Golf Competition Results </h1>
	<h1>Masters 2024</h1>
	<%- result %>
</body>

</html>