<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024 Leaderboard</title>
	<link rel="icon" href="/static/golf.png" type="image/png">
	<%- include('./style'); %>
</head>
<body>
	<div class="tab">
        <a href="/" class="tablinks">HOME</a>
		<a href="/rules" class="tablinks">SCORING</a>
    </div>
    <h1>Check back after the tournament</h1>
    <p class="leaderboard">To see the overall 2024 leaderboard.</p>
</body>
</html>
