<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="icon" href="/static/golf.png" type="image/png">
    <%- include('./style'); %>
</head>

<body>
    <div class="tab-container">
        <div class="tab">
            <a href="/" class="tablinks">HOME</a>
            <a href="/overall" class="tablinks">OVERALL LEADERBOARD</a>
        </div>
    </div>
    <header>
        <h1>2024 Scoring System</h1>
    </header>
    <div id="rules">
        <ol>
            <li>Your 1st pick's score is multiplied by 2</li>
            <li>Your 2nd pick's score 1.5 times</li>
            <li>5 points for making the cut (except as noted below)</li>
            <li>3 points for making the top 25</li>
            <li>4 points for making the top 15</li>
            <li>10th place gets an additional point, 9th place gets 2 additonal points, and so on, with the winner
                getting 10 points for 1st place plus an additional 15 points</li>
            <ul>
                <li>Example - 11th place gets: 5+3+4=12; 2nd place gets: 5+3+4+9=21; 1st place gets: 5+3+4+10+15=34</li>
            </ul>
            <li>If you pick someone in the top 5, they do not receive points for making the cut (but they receive all
                other points).</li>
            <li>If you pick someone outside the top 10 and they make the top 25, you get an extra 6 points</li>
            <li>if you pick someone outside the top 20 and they make the top 25 you get an additional 11 points</li>
            <li>If any team has all 8 players make the cut, you get a bonus 15 points (this includes top 5 players)</li>
            <li>An extra 15 points goes to the worst ranked player picked that makes it to the top 25</li>
        </ol>
    </div>
</body>

</html>