<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="icon" href="/static/golf.png" type="image/png">
    <%- include('./style'); %>
</head>

<body>
    <div class="tab-container">
        <div class="tab">
            <a href="/" class="tablinks">HOME</a>
            <a href="/overall" class="tablinks">OVERALL LEADERBOARD</a>
        </div>
    </div>
    <header>
        <h1>2025 Scoring System</h1>
    </header>
    <div id="rules">
        <style>
            /* Style for the strong tags */
            strong {
            font-size: 1.1em;  /* Slightly larger than normal text */
            color: #1c1c1c;    /* Dark grey for the text */
            font-weight: bold; /* Make the text bold */
            padding-bottom: 2px; /* Space below the text to make the underline visible */
        }
        </style>
        <ol> <strong>Multiplier Bonuses</strong>
            <li>Your 1st pick's score is multiplied by 2</li>
            <li>Your 2nd pick's score 1.5 times</li>
        </ol>
        <ol> <strong>Placement Scoring</strong>
            <li>5 points for making the cut (except players ranked 1-5)</li>
            <li>3 points for making the top 25</li>
            <li>4 points for making the top 15</li>
            <li>10th place gets an additional point, 9th place gets 2 additonal points, and so on, with the winner
                getting 10 points for 1st place plus an additional 15 points</li>
        </ol>
        <ol><strong>Incentives for choosing low-ranked players</strong>
            <li>If you pick someone ranked 10-20 and they make the top 25, you get an extra 6 points</li>
            <li>if you pick someone outside the top 20 and they make the top 25 you get an additional 11 points</li>
        </ol>
        <ol><strong>Team Bonuses</strong>
            <li>If any team has all 8 players make the cut, you get a bonus 15 points (this includes top 5 players)</li>
            <li>An extra 15 points goes to the worst ranked player picked that makes it to the top 25</li>
        </ol>

    </div>
</body>

</html>